@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');


.fraunces-font{
  font-family: "Fraunces", serif;
}

.dark_green{
    color: #375437;
}

.light_green{
    color: #3f6449;    
}

.bg_yellow{
    color: #f5f0e6;
}

.dark_green_bg{
    color: #375437;
}

.debug{
    border: 2px solid red;
}












